template(name='topicList')

	each topics

		+topicItem


template(name='topicItem')

	.ui-flex-column.ui-module.ui-topic-item

		.ui-flex-row
			a.ui-flex-1x.ui-padded-sm(href='{{pathFor route="viewTopic"}}') {{title}}

		.ui-flex-row

			small(style='margin-right: 8px; font-size: 12px; padding: 4px; border-radius: 2px; background-color: #efefef; color: #999;') {{user.username}}

			small(style='margin-right: 8px; font-size: 12px; padding: 4px; border-radius: 2px; background-color: #efefef; color: #999;') {{fromNow createdAt}}

			small(style='margin-right: 8px; font-size: 12px; padding: 4px; border-radius: 2px; background-color: #efefef; color: #999;') 子节点 {{stats.topics}}

			small(style='margin-right: 8px; font-size: 12px; padding: 4px; border-radius: 2px; background-color: #efefef; color: #999;') 讨论 {{stats.comments}}

			a(href='#' style='font-size: 12px; padding: 4px; border-radius: 2px; background-color: #efefef; color: #999;').method-new-topic.hide 回复

		if $.Session.equals 'toggleForm' _id

			form
				input(type='text' placeholder='title' autofocus).title
				input(type='submit' value='提交')
				input(type='button' value='关闭').method-close-form

		each topics

			+topicItem
