template(name='viewTopic')

	with topic

		.ui-flex-row.ui-padded-sm

			.ui-flex-1x.ui-padded-sm
				.ui-padded.ui-module 主节点 {{masterId}}

			.ui-flex-1x.ui-padded-sm
				.ui-padded.ui-module 父节点 {{parentId}}

		.ui-flex-row.ui-padded-sm

			.ui-flex-1x.ui-padded-sm

				+topicItem

			.ui-flex-column.ui-flex-1x.ui-padded-sm

				+newComment

				each ../comments

					.ui-mgb.ui-module

						.ui-padded {{content}}
