template(name='sign')

	form#signForm
		input(type='text' placeholder='username').username
		input(type='password' placeholder='password').password
		input(type='submit' value='signin').signin
		input(type='button' value='signup').signup
