template(name='sign')

	form
		input(type='text' placeholder='username').username
		input(type='password' placeholder='password').password
		input(type='button' value='signin').signin
		input(type='button' value='signup').signup
